venv
__pycache__
.pytest_cache

*.pyc
*.pyo
*.pyd

tests/benchmark/benchmark_Plots/DVSC_Plots/*
tests/benchmark/benchmark_Plots/SP_MAC_EQ_Plots/*
tests/benchmark/benchmark_Plots/KVAC_GGM_Plots/*
tests/benchmark/benchmark_Plots/KVAC_MEQ_Plots/*

!tests/benchmark/benchmark_Plots/DVSC_Plots/.gitkeep
!tests/benchmark/benchmark_Plots/SP_MAC_EQ_Plots/.gitkeep
!tests/benchmark/benchmark_Plots/KVAC_GGM_Plots/.gitkeep
!tests/benchmark/benchmark_Plots/KVAC_MEQ_Plots/.gitkeep